In [2]:
import pandas as pd
import numpy as np
import re
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.stem import WordNetLemmatizer

In [3]:
nltk.download('punkt')
nltk.download('stopwords')
nltk.download('wordnet')

[nltk_data] Downloading package punkt to /home/sharry/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.
[nltk_data] Downloading package stopwords to /home/sharry/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.
[nltk_data] Downloading package wordnet to /home/sharry/nltk_data...

True

In [4]:
df = pd.read_csv('cases_data.csv')

## Exploring the Dataset

In [5]:
df.head()

,Case Number,Parties,Date Delivered,Court,Case Action,Judge(s),Citation,County,Full Text
0,Cause 28 of 2020,Chelagat v Kabarak University,04 Jul 2024,Employment and Labour Relations Court at Nakuru,Ruling,David Njagi Nderitu,Chelagat v Kabarak University (Cause 28 of 202...,Nakuru,Chelagat v Kabarak University (Cause 28 of 202...
1,Tribunal Case 308 & 309 of 2020 (Consolidated),Alwy & another v Engroup (K) International Lim...,27 Aug 2024,Business Premises Rent Tribunal,Ruling,A Muma,Alwy & another v Engroup (K) International Lim...,Nairobi,Alwy & another v Engroup (K) International Lim...
2,Civil Case E001 of 2024,Ajiba v Manya,05 Sep 2024,High Court at Busia,Ruling,William Musya Musyoka,Ajiba v Manya (Civil Case E001 of 2024) [2024]...,Busia,Ajiba v Manya (Civil Case E001 of 2024) [2024]...
3,Tribunal Case E592 of 2024,Sharif v Munyoki t/a Kauma Hardware,29 Aug 2024,Business Premises Rent Tribunal,Ruling,A Muma,Sharif v Munyoki t/a Kauma Hardware (Tribunal ...,Nairobi,Sharif v Munyoki t/a Kauma Hardware (Tribunal ...
4,Tribunal Case E742 of 2021,Kamau t/a Victory Choma Roast v Kinyanjui; Mwa...,27 Sep 2023,Business Premises Rent Tribunal,Ruling,A Muma,Kamau t/a Victory Choma Roast v Kinyanjui; Mwa...,Nairobi,Kamau t/a Victory Choma Roast v Kinyanjui; Mwa...

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 115 entries, 0 to 114
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Case Number     115 non-null    object
 1   Parties         115 non-null    object
 2   Date Delivered  115 non-null    object
 3   Court           109 non-null    object
 4   Case Action     115 non-null    object
 5   Judge(s)        115 non-null    object
 6   Citation        114 non-null    object
 7   County          115 non-null    object
 8   Full Text       115 non-null    object
dtypes: object(9)
memory usage: 8.2+ KB

In [8]:
df.isnull().sum()

Case Number       0
Parties           0
Date Delivered    0
Court             6
Case Action       0
Judge(s)          0
Citation          1
County            0
Full Text         0
dtype: int64

## Filling missing values
Filling missing values in Court and Citation columns with "unknown" value

In [9]:
# Fill missing categorical/text values with 'Unknown'
df['Court'].fillna('Unknown', inplace=True)

/tmp/ipykernel_16884/2771425069.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Court'].fillna('Unknown', inplace=True)

In [10]:
# Fill missing categorical/text values with 'Unknown'
df['Citation'].fillna('Unknown', inplace=True)

/tmp/ipykernel_16884/1759336163.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Citation'].fillna('Unknown', inplace=True)

In [11]:
#Checking to see if there are empty cells again 
df.isnull().sum()

Case Number       0
Parties           0
Date Delivered    0
Court             0
Case Action       0
Judge(s)          0
Citation          0
County            0
Full Text         0
dtype: int64

### Text data cleaning